* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 700px;
    margin: 0 auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.header {
    margin: 40px auto;
    padding: 30px;
    width: 100%;
    height: 170px;
    background: #6364A5;
    box-shadow: 0px 6px 16px #D7D7D7;
    border-radius: 4px;
}

.actions-bar {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    align-items: end;
}

.search-input {
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-radius: 4px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.add-btn {
    width: 100%;
    height: 40px;
    background-color: #D67D70;
    border: none;
    border-radius: 4px;

    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    transition: all .3s;
}

.add-btn:hover {
    background-color: #c27165;
}

.notes-field {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 30px;
}

.nav-buttons {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 20px;
}

.nav-btn {
    width: 100%;
    height: 40px;
    background-color: #6364A5;
    box-shadow: 0px 6px 16px #D7D7D7;
    border: none;
    border-radius: 4px;

    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    transition: all .3s;
}
.nav-btn:hover {
    background-color: #565794;
}
.active {
    background-color: #D67D70;
}
.active:hover {
    background-color: #c27165;
}

.textarea {
    padding: 20px;
    resize: none;
    background: #F2F2F2;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}
